/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
    font-family: 'dejavu_sansextralight';
    src: url('fonts/DejaVuSans-ExtraLight-webfont.eot');
    src: url('fonts/DejaVuSans-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DejaVuSans-ExtraLight-webfont.woff') format('woff'),
         url('fonts/DejaVuSans-ExtraLight-webfont.ttf') format('truetype'),
         url('fonts/DejaVuSans-ExtraLight-webfont.svg#dejavu_sansextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
       url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
       url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
       url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
       url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
    font-family: 'dejavu_sansextralight', sans-serif;
    color: white;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    overflow-y: scroll;
    background-color: #222;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #333;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.flex-container {
  display: flex;
}

/* spacing between sections */
#content-container > .flex-container {
  padding-bottom: 20px;
}

.left-side {
  background-color: #444;
  box-sizing: border-box;
  flex: 0 0 35%;
  padding: 0 20px 0 20px;
}

.left-side h2 {
  margin-top: 0;
}

.right-side {
  background-color: #333;
  box-sizing: border-box;
  flex: 0 0 65%;
  padding: 0 20px 0 20px;
}

button, input, label {
  border: none;
  padding: 5px;
}

button:focus, input:focus {
  outline: 0;
}

/* ============================================================ *
 * ////////////////////////// HEADER ////////////////////////// *
 * ============================================================ */

header {
  position: fixed;
  max-width: 1024px;
  width: 100%;
}

#mbdm {
  border-bottom: solid white 2px;
  justify-content: space-between;
}

#mbdm i {
  padding-top: 20px;
}

#mbdm img {
  width: 120px;
  border-radius: 50%;
  padding: 10px;
}

svg {
  width: 150px;
  position: absolute;
}

#banderole-top {
  left: 15px;
  top: -15px;
}

#banderole-bottom {
  left: 15px;
  top: 80px;
}


#roomies {
  align-items: flex-end;
  font-size: 20px;
  padding: 0;
}

.roomie {
  text-align: center;
  padding: 10px 0;
}

.roomie a {
  display: block;
}

.active {
  background-color: #555;
}

header .Felix {
  border-bottom: solid #18ff00 2px; /* hsv(114, 100, 100) */
  flex: 0 0 25%;
}

header .Veronika {
  border-bottom: solid #ba00ff 2px; /* hsv(284, 100, 100) */
  flex: 0 0 25%;
}

header .Niko {
  border-bottom: solid #ff3600 2px; /* hsv(13, 100, 100) */
  flex: 0 0 25%;
}

header .Stefan {
  border-bottom: solid #005aff 2px; /* hsv(219, 100, 100) */
  flex: 0 0 25%;
}

#content-container {
  padding: 160px 0 0 0;
  background: linear-gradient(to right, #444 35%, #333 35%);
}




/* ============================================================ *
 * //////////////////////// MAIN PAGE ///////////////////////// *
 * ============================================================ */

.roomie-table {
  padding: 0 20px 30px 20px;
}

table {
  width: 100%;
  font-size: 20px;
}

td {
  padding: 3px 0;
}

tr {
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

col:nth-of-type(1) {
  width: 37%;
}

col:nth-of-type(2) {
  width: 15%;
}

col:nth-of-type(3) {
  width: 18%;
}

col:nth-of-type(4) {
  width: 16%;
}

col:nth-of-type(5) {
  width: 11%;
}

table tr:nth-child(odd) td {
  /*background-color: #333;*/
}

table tr:nth-child(even) td {
  /*background-color: #444;*/
}








/* ============================================================ *
 * //////////////////////// ROOMIE PAGE /////////////////////// *
 * ============================================================ */

#undo {
  padding: 15px;
}

#taskselection {
  flex-wrap: wrap;
  align-content: space-between;
  display: flex;
}

#taskselection button{
  flex: 1 1 auto;
  margin: 10px;
  font-size: 20px;
}

form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

input {
  flex: 1 1 auto;
  background-color: transparent;
}

.Felix button {
  background-color: hsl(114, 100%, 20%);
}

.Felix button:active {
  background-color: hsl(114, 100%, 50%);
}

.Veronika button {
  background-color: hsl(284, 100%, 20%);
}

.Veronika button:active {
  background-color: hsl(284, 100%, 50%);
}

.Niko button {
  background-color: hsl(13, 100%, 25%);
}

.Niko button:active {
  background-color: hsl(13, 100%, 50%);
}

.Stefan button {
  background-color: hsl(219, 100%, 20%);
}

.Stefan button:active {
  background-color: hsl(219, 100%, 50%);
}



button[disabled=disabled], button[disabled=disabled]:active,
button:disabled, button:disabled:active {
  background-color: #222;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
