<template name="App_body">
  <div class="container">
    <header>
      <a href="/"><h1>WG-Aufgaben</h1></a>
      <ul id="names">
        {{#each roomie in roomies}}
          <li class="roomieName {{activeRoomieClass roomie}}">
            <a href="/roomie/{{roomie.name}}" title="{{roomie.name}}">
              {{roomie.name}} ({{total roomie.name}})
            </a>
          </li>
        {{/each}}
      </ul>
    </header>

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> Template.dynamic template=main}}
    </div>
  </div>
</template>
